# SUMSUB_APP_TOKEN=prd:wuBJrg3dPQ041pHOsolq7jbf.Kav2TBvQtZVI8zmFwMDn75ENnZo6pEf4
# SUMSUB_SECRET_KEY=jl8S2QMvW405TWOnxDnlHhVPvYKqKsG6


SUMSUB_APP_TOKEN=sbx:8KC8NbXSLJTymRJJI8wn3sdC.wT24yKEh94o2bBCQoX1d36c8Rk5lpu0Z
SUMSUB_SECRET_KEY=PJDfSxiGZX5bZHbpnuJnsUmD91LJ1UOm
SUMSUB_BASE_URL=https://api.sumsub.com
SUMSUB_LEVEL_NAME_OTHER=id-and-liveness
SUMSUB_LEVEL_NAME_US=Us citizen

# sand box
# Token : sbx:8KC8NbXSLJTymRJJI8wn3sdC.wT24yKEh94o2bBCQoX1d36c8Rk5lpu0Z
# secret key: PJDfSxiGZX5bZHbpnuJnsUmD91LJ1UOm


# # # Blockchain
RPC_URL=https://sepolia.infura.io/v3/1b550e7b19ea48c4aae3c157c05472f3
PRIVATE_KEY=7fd6c0e1129742b3107859cc24a7a2e309bf371d1baaff8424a85d6de1a3d0a6
PRESALE_CONTRACT_ADDRESS=0x8af1D9506B6C9114ac2A43AfFe45c3B19014d4Fb
AUTHORIZE_CONTRACT_ADDRESS=0x50F4d7Eb3E09E7ca0bB9FBcb96505ded6f4fFDb8
CHAIN_ID=11155111
PORT=3000